/*mobile styling*/
/*grid setup*/
.container {
    display: grid;
    width: 100%;
    background-color: #357293;
    font-family: "Open Sans", sans-serif;
    color: white;
    opacity: 0.70;
}
/*row 1 header*/
/*using flexbox to position text*/
.name h1{
    display: flex;
    flex-direction: column;
    font-family: "Merienda", cursive; 
    font-size: 35px;   
}
/*content box 1 container sizing, alignment, etc*/
.about {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color:#104056;
    border-radius: 25px;
    opacity: 0.80;
    z-index: -1;    
}
.about h3, .about p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*container for img*/
.photo {
    display: none;
}
/*container for social links*/
/*using flexbox to position within CSS grid*/
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}
.social a {  
    padding: 30px;
    color: white;
}
.fa-linkedin-in, .fa-github, .fa-twitter {
    margin-top: 20px;
    transition: color 1s;
}
.fa-linkedin-in:hover, .fa-github:hover, .fa-twitter:hover {
    color:#104056;
}
.fa-twitter {
    padding-right: 30px;
}

@media only screen and (min-width:768px){
    /*container for tablet size devices*/
    .container {
        display: grid;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template: 20% 60% 30% / 40% 30% 30%;
    }
    /*header*/
    .name {
        grid-column: 1/5;        
    }
    .name h1 {
        margin-top: 15px;
        font-size: 40px;
    }
    /*content container resizing for tablet/desktop*/
    .about {
        grid-row: 2/ span 3;
        grid-column: 1/span 2;           
        background-color: #f4f4f4;
        color:#104056;        
        border-radius: 25px;
    }
    .about h3, .about p {
        margin-top: 20px;
        margin-left: 50px;
    }

    .about h3 {
        font-size: 26px;
    }
    .about p {
        margin-top: 5%;
        width: 75%;
        font-size: 16px;
        line-height: 1.8em;
    }
    /*photo container resize for tablet/desktop*/
    .photo {
        display: inline-block;
        grid-row: 2/span 1;
        grid-column: 3 / span 1;         
        justify-content: center; 
        margin-top: 8%;       
    } 
    img {
        display: inline-block;  
        max-width: 100%;                        
        border-radius: 25px;            
    }
    /*social resize and changes for desktop*/
    .social {
        grid-column: 3/span 1;
        grid-row: 3 / span 1;    
    }
    .flex {
        display: flex;        
        flex-direction: row; 
        justify-content: space-around;       
                   
    }
    .fa-github, .fa-linkedin-in, .fa-twitter { 
        font-size: 40px;
        padding-right: 5px;        
    }   
 }
/*Large screen styling all font size changes*/
@media only screen and (min-width:1375px) {

    .name h1, .fa-linkedin-in, .fa-github, .fa-twitter {
        font-size: 55px;
    }  
    .about h3 {
        margin-top: 5%;
    }  
    .about p {
        font-size: 20px;
    }
}

   